extends ../home


block exerc
    include:markdown-it(linkify langPrefix='highlight-') ../includes/_exerc06.md
    hr
    div(class='(container')
        table(class='table table-dark')
            thead
                tr
                    th Cliente
                    th Número de Livros Comprados
            tbody
                if exercicios
                    each exerc in exercicios
                        tr
                            td #{exerc.nome}
                            td #{exerc.compras}
                else
                    h4 ERROR :: 500 :: Sem conexão com o servidor