header(id='app-header' class='container d-flex mx-0 flex-column justify-content-center align-items-center bg-primary-subtle')
    div(class='d-flex justify-content-center align-items-center img-fluid')
        img(src='icons/favicon-32x32.png')
        h1(class='fs-2') Trabalho Uninter - #{title}
    small(class='text-secondary') Artur dos Santos Shon - 3829065 - Bacharelado em Engrenharia de Software
    small(class='text-secondary')  Profº Ricardo Sonaglio Albano - Banco de Dados Relacionais
