header(id='app-header' class='container d-flex mx-0 flex-column justify-content-center align-items-center bg-primary-subtle')
    div(class='d-flex justify-content-center align-items-center img-fluid')
        img(src='icons/favicon-32x32.png')
        h1(class='fs-2') Trabalho Uninter - Consultas
    small(class='text-secondary') Bacharelado em Engrenharia de Software - Profº Ricardo Sonaglio Albano
