nav(id='app-menu')
    div(a-link='/' class='a-link')
        i(class='bi bi-house-door')
        span &ensp; Home
    div(a-link='/clientes' class='a-link')
        i(class='bi bi-person-bounding-box')
        span  &ensp; Clientes
    div(a-link='/editoras' class='a-link')
        i(class='bi bi-building')
        span  &ensp; Editoras
    div(a-link='/livros' class='a-link')
        i(class='bi bi-book')
        span  &ensp; Livros
    div(a-link='/pedidos' class='a-link')
        i(class='bi bi-file-text')
        span  &ensp; Pedidos